node_modules/
# Allow bin/<verb> canonical shims (per arthur-debert/release take-iii).
/bin/*
!/bin/check
!/bin/build
!/bin/changelog
!/bin/changelog-add
!/bin/changelog-cut
!/bin/changelog-render
*.wasm
package-lock.json
.padz
